body{
    margin: 0;
    background-color: rgb(121, 54, 184);
}
.navigation-bar {
    background-color: rgb(152, 77, 223);
    padding: 15px 25px;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.5);
}
.logo-container {
    display: inline-block;
}
.link-container {
    float:right;
    padding: 20px;
    margin: 0;
}
.text-title {
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    position: relative;
    color: white;
    margin: 0;
    font-size: 25px;
    top: -18px;
    left: 8px;
}
.links {
    margin: 0 25px;
    color: white;
    font-family: Verdana;
    text-decoration: none;
}
.btn-login {
    background-color: skyblue;
    padding: 10px 20px;
    color: black;
    font-family: Verdana;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 1s;
}
.btn-login:hover {
    box-shadow: 0 0 5px 3px rgb(255, 255, 255);
}
.btn-login:active {
    background-color: rgb(66, 66, 233);
}
.payment-container {
    display: inline-block;
}